#root,
html {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvasFrame {
  border: solid 5px #f4a261;
  height: 500px;
  width: 500px;
  margin: 10px;
  background-color: rgb(15, 15, 15);
}
.title {
  text-align: center;
  font-family: "Lobster", cursive;
  padding: 10px;
  background-color: #f4a261;
  color: white;
  font-size: 25px;
}
.header {
  width: 100%;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.endScreen {
  position: absolute;
  margin-top: auto;
  width: 100%;
  z-index: 10;
  text-align: center;
  padding: 20px;
  color: black;
  font-size: 20px;
}
